.DS_Store

# Secrets
MoodCast_Final_Deliverables/glitch_server/.env
MoodCast_Final_Deliverables/glitch_server/serviceAccountKey.json

# Secrets
MoodCast_Final_Deliverables/glitch_server/.env
MoodCast_Final_Deliverables/glitch_server/serviceAccountKey.json
