<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmTtJBLkX29TJBkiID6cF-j9YaducFGy4</string>
	<key>GCM_SENDER_ID</key>
	<string>1076384060456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jacoblucas.CSCD-488-Project</string>
	<key>PROJECT_ID</key>
	<string>cscd-488-project</string>
	<key>STORAGE_BUCKET</key>
	<string>cscd-488-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076384060456:ios:1b1b830e1a0189e721511d</string>
</dict>
</plist>